foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8a70b70-183f-4885-9e33-61cd4ad22d13" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9fd712d0-eb89-4ab1-845e-25e69c15407f" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Tejukarthik@11" database="foreach" />
	</db:config>
	<flow name="foreachFlow" doc:id="58f0d8a7-d93f-4029-9ef8-9368766bbac8" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="f785a58e-33fa-4faa-b80e-e777e840b6b3" config-ref="HTTP_Listener_config" path="/foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="298b4c04-598a-4b61-8361-035a6217be9e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 10 map{
	"id":100+$$,
	"name":"teju",
	"firstname":"konjeti"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="cd402b17-965b-45f3-a1fb-e07e1572c8fd" >
			<logger level="INFO" doc:name="Logger" doc:id="1c8784bd-7c87-4511-889e-42218f585c90" message="#[payload]"/>
			<db:insert doc:name="Insert" doc:id="6a192683-e9cc-4a83-b25c-c26dbf04e44d" config-ref="Database_Config">
				<db:sql ><![CDATA[insert into details(id,name,firstname)values(:id,:name,:firstname);]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	id:payload.id,
	name:payload.name,
	firstname:payload.firstname
}]]]></db:input-parameters>
			</db:insert>
		</foreach>
	</flow>
</mule>
