connectors/src/main/mule/connectors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3022ec6d-3acc-41f9-9abe-4d00b8dbee37" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="5a3eba92-0fb4-4045-aa7a-0ea921fee217" >
		<vm:queues >
			<vm:queue queueName="que" />
		</vm:queues>
	</vm:config>
	<flow name="connectorsFlow" doc:id="a4c746e3-5648-41f7-8d5e-82f3d1920544" >
		<http:listener doc:name="Listener" doc:id="5b01260b-5e95-45ca-b634-9262d8acc6fd" config-ref="HTTP_Listener_config" path="/publish"/>
		<vm:publish queueName="que" doc:name="Publish" doc:id="32b3669c-dd66-46f5-80ff-020c4a87e3b9" config-ref="VM_Config"/>
	</flow>
	<flow name="connectorsFlow1" doc:id="8f75ba4e-c9a3-43db-8923-31ecf7825183" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="070cb9c7-bdea-445d-8a28-516c9d183c3d" config-ref="HTTP_Listener_config" path="/consume"/>
		<vm:consume doc:name="Consume" doc:id="59f58dec-0a05-4dbb-a707-90adc48c0577" config-ref="VM_Config" queueName="que"/>
		<logger level="INFO" doc:name="Logger" doc:id="8059b3c7-71b7-4c73-a93f-74db0cdae64c" message="#[payload]"/>
	</flow>
	<flow name="connectorsFlow2" doc:id="342223ba-5e54-40b8-94f1-d3a432cfcc7c" >
		<vm:listener queueName="MyQ" doc:name="Listener" doc:id="41e30d9f-61aa-429c-a17b-419e9d5077b2" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="5835d1ee-e9c9-4fa5-b46c-d9f00a4b347a" message="#[payload]"/>
	</flow>
</mule>
