files/src/main/mule/files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fbed1380-7eb0-412a-b96d-fc9ad3ec9c7c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="cb9900e6-7ead-4755-8bec-e7ad1fd584d7" />
	<flow name="filesFlow" doc:id="6280bf81-22e9-4e98-87a3-e68b917be355" >
		<http:listener doc:name="Listener" doc:id="722ba96e-43ae-4e62-a184-c0f0a522f641" config-ref="HTTP_Listener_config" path="/abc"/>
		<file:list doc:name="List" doc:id="1c722dfa-e5ac-42d5-aa91-557c69c3034c" config-ref="File_Config" directoryPath="D:\New folder"/>
		<ee:transform doc:name="Transform Message" doc:id="7efcc8a0-5860-46ac-91db-1eee4db6ecb8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0c5d6dcc-6657-48dc-bfc6-a5753b492795" message="#[payload]"/>
	</flow>
</mule>
